/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  button, summary {
      cursor: pointer;
  }
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:white;
  }
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  body {
    color:var(--color-text);
    background-color:var(--color-background);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  li { /* Hierdoor zie je de puntjes van mijn list items niet*/
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  header nav ul{
      display: flex;
      justify-content: space-evenly;
      padding-inline-start: 0;
  }
  
  header nav ul li img{
      top: 1em;
      left: 1em;
      height: 5vh;
      width: 5vh;
  } 

  img{
      display: flex;
      width: 100%;
  }

/* vormgeving, section 1: foto's over de adapt ombre crop top*/

section:nth-of-type(1){
    display: flex;
}

section:nth-of-type(1) ul{
    padding: 0;
    display: flex;
    margin-top: .5em;
}

section:nth-of-type(1) ul li{
    display: flex;
    margin-right: 2em;
}

section:nth-of-type(1) img{
    width: 180%;
    height: 100%;
}

/* vormgeving, korting*/
h2{
    color: red;
    margin-left: 1em;
    margin-top: .2em;
}

/* vormgeving, section 2*/
section:nth-of-type(2) article{
    display: flex;
    flex-direction: column;
    position: relative;
}

section:nth-of-type(2) h1{
    margin-left: 1.2em;
    margin-top: 0;
}

section:nth-of-type(2) h5{
    margin-left: 1.7em;
    margin-top: -.5em;
    color: gray;
}

section:nth-of-type(2) article:nth-child(1) p{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    font-size: 1.5em;
    overflow-x: none;
    margin-top: -.5em;
}

section:nth-of-type(2) p:nth-of-type(2){
    position: absolute;
    font-size: .5em;
    color: gray;
    text-decoration: line-through;
    bottom: 1%;
    left: 28%;
}

/* vormgeving, section 3*/
section:nth-of-type(3){
    display: flex;
    flex-direction: column;
}

section:nth-of-type(3) article:nth-child(1){
    display: flex;
    justify-content: flex-start;
}

section:nth-of-type(3) article:nth-child(1) h3{
    margin-left: 1.5em;
}

section:nth-of-type(3) article:nth-child(1) a{
    margin-left: 12em;
    margin-top: 1em;
    text-decoration: underline;
    color: var(--color-text);
    display: flex;
    justify-content: flex-end;
}

section:nth-of-type(3) ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

section:nth-of-type(3) button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    background-color: white;
    border-color: black;
    font-size: 1.5em;
    width: 2.5em;
    height: 2.5em;
    margin-bottom: .125em;
}

/* vormgeving, link aan wishlist toevoegen*/
#wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 1em;
    width: 20em;
    height: 2.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-decoration: none;
}

#wishlist.anders{
    background-color: green;
}

/* vormgeving, button mijn account*/

button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 1em;
	background-color: rgb(83, 86, 90);
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}

/* Footer */
footer ul:nth-of-type(1), footer ul:nth-of-type(2){
	padding-inline-start: 0;
}

footer ul:nth-of-type(1){
	display: flex;
	justify-content: center;
}

footer ul:nth-of-type(1) img, footer ul:nth-of-type(3) img{
	border: none;
    max-height: 100%;
    max-width: 100%;
	width: auto;
    height: 1.5rem;
}

footer ul:nth-of-type(2) li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 .7em;
}

footer ul:nth-of-type(2) a{
	text-decoration: none;
	color: var(--color-text);
}

/*  Opmaak drop-down in de footer, help en pagina's  
code is can de website -> https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */

details {
    border-top: .100em solid #d1d1d1;
    padding: .5em .5em .5em 1.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

details ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

details li{
	margin-bottom: .5em;
}

details a{
	text-decoration: none;
	color: var(--color-text);
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}

/*  EINDE  */
footer article{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
	position: relative;
}

footer article h2{
	position: absolute;
	border-top: .100em solid #d1d1d1;
    padding: .5em 4.5em .5em;
	margin-top: 0;
	margin-left: 1.5em;
	font-size: 1em;
    color: var(--color-text);
}

footer article img{
	margin-top: 3em;
	padding: 0 .2em 0 1em;
	width: 50%;
}

footer article p{
	background-color: #ececec;
	height: 2.5em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8em;
	font-weight: bolder;
}

footer article p:nth-of-type(1){
	top: 70%;
	left: 4%;
	width: 45.5%;
	z-index: 1;
}

footer article p:nth-of-type(2){
	top: 70%;
	left: 54%;
	width: 45.5%;
	z-index: 1;
}
footer article p:nth-of-type(3){
	top: 70%;
	left: 104%;
	width: 45.5%;
	z-index: 1;
}

footer ul:nth-of-type(3){
	display: flex;
	justify-content: space-evenly;
	margin-right: 2.5em;
}

footer section{
	border-top: 0.1rem solid rgb(231, 231, 231);
}

footer section p{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: .8em .8em;
	font-size: .9em;
}