/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:white;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  font-family: Roboto,Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li { /* Hierdoor zie je de puntjes van mijn list items niet*/
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul{
	display: flex;
	margin-bottom: -5.5em;
	padding-inline-start: 0;
}

header nav ul li img{
	top: 1em;
	left: 1em;
	height: 20%;
} 

header nav ul li img:nth-child(3){
	display: flex;
	/* Het logo moet groter worden dan de andere iconen*/
}

img{
	display: flex;
	width: 100%;
}

section:nth-of-type(1), section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(5), section:nth-of-type(7), section:nth-of-type(8){
	display: flex;
}

section:nth-of-type(2), section:nth-of-type(3), section:nth-of-type(4), section:nth-of-type(5), section:nth-of-type(6), section:nth-of-type(7), section:nth-of-type(8), section:nth-of-type(9), section:nth-of-type(10), section:nth-of-type(11), section:nth-of-type(12), section:nth-of-type(13), footer ul:nth-of-type(2){
	margin-bottom: 1em; /* witruimte onder de sections waarbij nodig */
}

section:nth-of-type(2) img, section:nth-of-type(3) img, section:nth-of-type(5) img, section:nth-of-type(7) img, section:nth-of-type(8) img{
	display: flex;
	filter: brightness(60%); /* Om de foto donkerder te maken heb ik deze code gebruikt van de site https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/brightness*/
}

section:nth-of-type(2) h1:nth-of-type(1), section:nth-of-type(2) p:nth-of-type(1), section:nth-of-type(5) h1:nth-of-type(1), section:nth-of-type(5) p:nth-of-type(1){
	margin-right: 1em;
	color: white; 
} /* zelfde opmaak voor de sections margin-right en de color white voor de tekst */

section:nth-of-type(2) a, section:nth-of-type(3) a, section:nth-of-type(5) a,  section:nth-of-type(7) a,  section:nth-of-type(8) a, section:nth-of-type(12) button{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 10em;
	height: 2.5em;
	margin-left: 2.5em;
	color: white;
}

/*vormgeving, section 1 over ten years strong*/

section:nth-of-type(1) a:nth-child(1), section:nth-of-type(1) a:nth-child(2){
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color:var(--color-text);
	text-decoration: none;
	background-color: #f6f6f6;
	border: .125em solid #e3e3e3;
	height: 4em;
}

/*vormgeving, section 2 over ten years strong*/

section:nth-of-type(2) h1:nth-of-type(1){
	position: absolute;
	bottom: 34%;
	margin-left: 1em;
}

section:nth-of-type(2) p:nth-of-type(1){
	position: absolute;
	bottom: 30%;
	margin-left: 1.5em;
}

section:nth-of-type(2) a:nth-child(4){
	display: flex;
	border: .125em solid #ffffff;
	background-color: #ffffff;
	border-radius: 1.5em;
	color:var(--color-text);
	position: absolute;
	bottom: 24%;
	margin-left: 1em;
}

section:nth-of-type(2) a:nth-child(5){
	display: flex;
	border: .125em solid #3d3d3d;
	background-color: #3d3d3d;
	border-radius: 1.5em;
	color: white;
	position: absolute;
	bottom: 17%;
	margin-left: 1em;
}

/*vormgeving, section 3 over nieuw Apex introductie*/

section:nth-of-type(3) h1:nth-of-type(1){
	position: absolute;
	bottom: -66%;
	margin-left: 1em;
	margin-right: 1em;
	color: white;
}

section:nth-of-type(3) p:nth-of-type(1){
	position: absolute;
	bottom: -73%;
	margin-left: 1.5em;
	margin-right: 1em;
	color: white;
}

section:nth-of-type(3) a{
	display: flex;
	border: .125em solid #ffffff;
	background-color: #ffffff;
	border-radius: 1.5em;
	color:var(--color-text);
	position: absolute;
	bottom: -80%;
	margin-left: 1em;
}

/*vormgeving, section 4 over de heren Apex kleding stukken*/

section:nth-of-type(4) ul{
	display: flex;
	padding-inline-start: 0em;
	padding-left: 1em;
}

section:nth-of-type(4) ul img{
    max-width: 50%;
}

section:nth-of-type(4) a, section:nth-of-type(6) a{
	color: var(--color-text);
}

/*vormgeving, section 5 over de heren Apex kleding stukken*/

section:nth-of-type(5) h1:nth-of-type(1){
	position: absolute;
	bottom: -200%;
	margin-left: 1em;
}

section:nth-of-type(5) p:nth-of-type(1){
	position: absolute;
	bottom: -206%;
	margin-left: 1.5em;
}

section:nth-of-type(5) a{
	display: flex;
	border: .125em solid #ffffff;
	background-color: #ffffff;
	border-radius: 1.5em;
	color:var(--color-text);
	position: absolute;
	bottom: -212%;
	margin-left: 1em;
}

/*vormgeving, section 6 over de dames Adapt kleding stukken*/
section:nth-of-type(6) h2{
	margin-right: 1em;
}

section:nth-of-type(6) h2 span{
	display: flex;
	padding-top: .8em;
}

section:nth-of-type(6) ul{
	display: flex;
	flex-direction: column;
	padding-inline-start: 0em;
	padding-left: 1em;
}

section:nth-of-type(6) ul img{
	display: flex;
    max-width: 50%;
}

/*vormgeving, section 7 over de dames*/
section:nth-of-type(7) h1{
	position: absolute;
	top: 460%;
	right: 3%;
	margin-right: 1em;
	color: white;
	letter-spacing: .05rem;
	z-index: 1;
}

section:nth-of-type(7) h1 span{
	position: absolute;
	bottom: -77%;
	right: 5%;
	color: white;
}

section:nth-of-type(7) a{
	display: flex;
	border: .125em solid #ffffff;
	width: 7em;
	background-color: #ffffff;
	border-radius: 1.5em;
	color:var(--color-text);
	position: absolute;
	top: 473%;
	right: 3%;
	margin-left: 1em;
	margin-right: 1em;
}

/*vormgeving, section 8 over de heren*/
section:nth-of-type(8) h1{
	position: absolute;
	top: 505%;
	left: 3%;
	margin-left: 1em;
	color: white;
	letter-spacing: .05rem;
	z-index: 1;
}

section:nth-of-type(8) h1 span{
	position: absolute;
	bottom: -77%;
	right: -23%;
	margin-left: 1em;
	color: white;
}

section:nth-of-type(8) a{
	display: flex;
	border: .125em solid #ffffff;
	width: 7em;
	background-color: #ffffff;
	border-radius: 1.5em;
	color:var(--color-text);
	position: absolute;
	top: 518%;
	left: 3%;
	margin-left: 1em;
	margin-right: 1em;
}

/*vormgeving, section 12 schrijf je in en ontvang 10% korting*/
section:nth-of-type(12){
	background-color: black;
	padding-top: 2em;
	padding-left: 4.5em;
	padding-right: 4.5em;
	padding-bottom: 5em;
}

section:nth-of-type(12) p{
	display: flex;
	text-align: center;
	color: white;
}

section:nth-of-type(12) button{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	border: .125em solid #ffffff;
	background-color: #ffffff;
	border-radius: 1.5em;
	color: var(--color-text);
}

/*vormgeving, section 13 meer dan alleen sportkleding*/
section:nth-of-type(13){
	border: 0.1rem solid #bbbcbc;
	margin-left: 1.3em;
	margin-right: 1.5em;
	padding: 1em;
}

section:nth-of-type(13) h2{
	font-size: 1em;
}

section:nth-of-type(13) p{
	font-size: .8em;
}

/* vormgeving, button mijn account*/

button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 1em;
	background-color: rgb(83, 86, 90);
	width: 100%;
	height: 5em;
	margin-bottom: 1em;
}

/* Footer */
footer ul:nth-of-type(1), footer ul:nth-of-type(2){
	padding-inline-start: 0;
}

footer ul:nth-of-type(1){
	display: flex;
	justify-content: center;
}

footer ul:nth-of-type(1) img, footer ul:nth-of-type(3) img{
	border: none;
    max-height: 100%;
    max-width: 100%;
	width: auto;
    height: 1.5rem;
}

footer ul:nth-of-type(2) li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 .7em;
}

footer ul:nth-of-type(2) a{
	text-decoration: none;
	color: var(--color-text);
}

/*  Opmaak drop-down in de footer, help en pagina's  
code is can de website -> https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */

details {
    border-top: .100em solid #d1d1d1;
    padding: .5em .5em .5em 1.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

details ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

details li{
	margin-bottom: .5em;
}

details a{
	text-decoration: none;
	color: var(--color-text);
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}

/*  EINDE  */

footer ul:nth-of-type(3){
	display: flex;
	justify-content: space-evenly;
	margin-right: 2.5em;
}

footer section{
	border-top: 0.1rem solid rgb(231, 231, 231);
}

footer section p{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: .8em .8em;
	font-size: .9em;
}